body {
	font-family: Verdana, Helvetica, sans-serif;
}

html, body {
	overflow: hidden;
	height: 100%;
}

#app {
	background: rgb(29, 30, 26);
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#overlay {}

#toolbar {
	background: #bbb;
	border-right: 1px solid #999;
}


.tool-bar {
	height: 30px;
	background: rgb(18, 19, 16);
}

.tool-bar a {
	color: #eee;
	cursor: pointer;
	height: 26px;
	margin: 2px 2px 2px 3px;
	padding: 0 4px 0 7px;
	display: inline-block;
	font-size: 14px;
	background: rgb(29, 30, 26);
	line-height: 26px; 
	border-radius: 5px;
}

.tool-bar a span.close {
	color: red;
	width: 20px;
	height: 20px;
	margin: 3px 0 0 5px;
	padding: 0;
	display: inline-block;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	border-radius: 5px;
}

.tool-bar a span.close:hover {
	background: red;
	color: white;
}

.tool-bar a.open {
	display: inline-block;
}

.tool-bar a.saving {
	text-decoration: underline;
}

.tool-bar a.current {
	background: #888;
}


.editor-container {
	border-top: 1px solid #000;
	overflow: hidden;
}

.editor-container .editor {
	position: relative;
	font-size: 1.1em;
	height: 100%;
	width: 100%;
}


.status-bar {
	height: 20px;
	bottom: 0;
	background: rgb(69, 69, 69);
	border-top: 1px solid #000;
}


.file-view {
	color: #444;
	background: #ccc;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
}


.tree {
	padding: 0 0 0 20px;
}

.tree a {
	color: inherit;
	cursor: pointer;
	margin: 2px 0;
	padding: 1px 0 1px 4px; 
	display: block;
	font-size: 0.9em;
	line-height: 1.5em;
	text-indent: 24px;
	background-position: 4px center;
	background-repeat: no-repeat;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tree a:hover {
	text-decoration: underline;
	background-color: #eee;
}

.tree a.directory {
	color: #777;
	margin-left: -20px;
}

.tree a.directory {
	background-image: url(/img/icon/folder-open.png);
}

.tree.collapse {
	display: block;
}

.tree.collapse .tree,
.tree.collapse a.file {
	display: none;
}

.tree.collapse a.directory {
	background-image: url(/img/icon/folder.png);
}

.tree a.file {
	background-image: url(/img/icon/text-x-generic.png);
}

.tree a.file.open {}

.tree a.file.saving {
	text-decoration: line-through;
}

.tree a.selected {
	color: white;
	background-color: #777;
}

.tree a.current {
	border-bottom: 2px solid #444;
}
