* {
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

body {
	background: rgb(29, 30, 26);
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font: Verdana, Helvetica, arial;
}

body.resize-files,
body.resize-files * {
	cursor: col-resize !important;
}

#files,
#resize-files,
#opened,
#editors,
#status,
#overlay {
	position: absolute;
	overflow: auto;
}

#files {
	color: #444;
	background: #ccc;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
}

#resize-files {
	width: 7px;
	cursor: col-resize;
	z-index: 9;
}

#opened {
	height: 30px;
	background: rgb(18, 19, 16);
}

#opened a {
	top: 4px;
	font: Courier, monospace;
	color: #eee;
	cursor: pointer;
	height: 26px;
	margin: 0 1px 0 4px;
	padding: 0 5px 0 8px;
	display: none;
	position: relative;
	font-size: 14px;
	background: #888;
	line-height: 26px; 
	border-radius: 5px;
}

#opened a span.close {
	top: -1px;
	color: red;
	width: 20px;
	height: 20px;
	margin: 0 0 0 5px;
	padding: 0;
	display: inline-block;
	position: relative;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
	border-radius: 5px;
}

#opened a span.close:hover {
	background: red;
	color: white;
}

#opened a.open {
	display: inline-block;
}

#opened a.saving {
	text-decoration: underline;
}

#opened a.current {
	background: rgb(29, 30, 26);
}

#editors {
	border-top: 1px solid #000;
	overflow: hidden;
}

#status {
	height: 20px;
	bottom: 0;
	z-index: 99;
	background: rgb(69, 69, 69);
	border-top: 1px solid #000;
}

#overlay {
	top: 0;
	width: 100%;
	height: 0;
	z-index: 999;
	overflow: visible;
}

#overlay.modal {
	height: 100%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.25);
}

.notification {
	border-radius: 10px;
	background: white;
	position: relative;
	z-index: 9;
	padding: 10px;
	opacity: 0.5;
	margin: 10px;
	cursor: pointer;
	color: black;
	float: right;
}

.tree {
	padding: 0 0 0 1em;
}

.tree a {
	margin: 2px 0;
	padding: 0 0 0 4px; 
	cursor: pointer;
	display: block;
	line-height: 1.5em;
}

.tree a:hover {
	text-decoration: underline;
	background: #eee;
}

.tree a.directory {
	color: #777;
	margin-left: -1em;
}

.tree.collapse .tree,
.tree.collapse a.file {
	display: none;
}

.tree a.file.open {}

.tree a.file.saving {
	text-decoration: line-through;
}

.tree a.selected {
	color: white;
	background: #777;
}

.tree a.current {
	border-bottom: 2px solid #444;
}
